<!-- user-profile.component.html -->
<div class="container">
  <div class="user-info">
    <h2>User Profile</h2>
    <p><strong>First name:</strong> {{ user?.firstName }} </p>
    <p><strong>Last name:</strong> {{ user?.lastName }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <p><strong>Address:</strong> {{ user?.address }}</p>
  </div>

  <div class="action-buttons">
    <button class="btn btn-danger" (click)="confirmDelete()">Delete Profile</button>
    <button
      [routerLink]="[
        '/profile/edit'
      ]"
      class="btn btn-default"
    >
      Edit Profile
    </button>  
  </div>
</div>
