.container {
    margin: 10rem;
    display: flex;
    align-items: center;
    /* min-height: 100vh; Ensure the container takes at least the full height of the viewport */
}

.card {
    margin:5rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
}

.action-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn-primary {
  background-color: #3498db;
  margin-left: 10px;
}

/* Add more styles as needed */
