
<div *ngFor="let s of sessions">
  <div>
    <h2>{{ s.className }}</h2>
    <p>Capacity: {{ s.capacity }}</p>
    <p>Trainers: {{ s.trainers }}</p>
    <p>Date: {{ s.sessionDate }}</p>
    <p>Start Time: {{ s.startHour }}</p>
    <p>End Time: {{ s.endHour }}</p>
    <p></p>
    <div class="action-buttons">
      <button class="btn btn-danger" (click)="confirmDelete(s.id)">Delete Session</button>
    </div>
    <p></p>
    <div class="success-message">{{ getSuccessMessage(s.id) }}</div>
    <p></p>
  </div>
</div>




