<div class="card">
    <div class="card-header">
      <h2 class="card-title">Edit User Profile</h2>
    </div>

    <div class="alert alert-success" *ngIf="isSuccessful">
      <p>User profile was successfully updated!</p>
    </div>
  
    <div class="card-body" *ngIf="!isSuccessful">
      <form [formGroup]="form">
        <div class="alert alert-danger" *ngIf="!form.controls.firstName.valid">
          <p class="text-danger">First Name</p>
        </div>
        <div class="alert alert-danger" *ngIf="!form.controls.lastName.valid">
          <p class="text-danger">Last Name</p>
        </div>
        <div class="alert alert-danger" *ngIf="!form.controls.email.valid">
          <p class="text-danger">Invalid Email.</p>
        </div>
        <div class="alert alert-danger" *ngIf="!form.controls.address.valid">
          <p class="text-danger">Address</p>
        </div>
  
        <div class="form-group">
          <strong> First name: </strong>
          <input formControlName="firstName" class="form-control" />
        </div>
  
        <div class="form-group">
          <strong> Last Name: </strong>
          <input formControlName="lastName" class="form-control" />
        </div>

        <div class="form-group">
          <strong> Email: </strong>
          <input formControlName="email" class="form-control" />
        </div>
        
        <div class="form-group">
          <strong> Address: </strong>
          <input formControlName="address" class="form-control" />
        </div>
  
        <div class="form-group">
          <button (click)="save()" class="btn" [disabled]="!form.valid">Save</button>
        </div>
      </form> 
    </div>
  </div>
  