<div>
<div>
<form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

    <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="50"
          #name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && name.errors}"
          ngModel pattern="[a-zA-Z ]*"
        />
        <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['required']">Name is required</div>
          <div *ngIf="name.errors['minlength']">
            Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors['maxlength']">
            Name must be at most 50 characters
          </div>
        </div>
      </div>


    <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          ngModel pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['pattern']">
            E-Mail has to be valid!
          </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Register Trainer</button>
    </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessful">
  Your registration is successful!
</div>
</div>
</div>