<p>update.trainer works!</p>

<div *ngFor="let t of trainers">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

    <div class="form-group">
        <label for="id">ID</label>
        <input
          type="number"
          class="form-control"
          name="id"
          [(ngModel)]="form.id"
          required
          #name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && id.errors}"
          ngModel pattern="[1-9]*"
         [value]="t.id"
        />
        <div class="invalid-feedback" *ngIf="id.errors && f.submitted">
            <div *ngIf="id.errors['required']">ID is required</div>
          </div>
        </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="50"
          #name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && name.errors}"
          ngModel pattern="[a-zA-Z ]*"
        />
        <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['required']">Name is required</div>
          <div *ngIf="name.errors['minlength']">
            Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors['maxlength']">
            Name must be at most 50 characters
          </div>
        </div>
      </div>


    <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        >
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['pattern']">
            E-Mail has to be valid!
          </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
    </div>

</form>

    <div class="trainer-info">
      <h3>{{ t.id }}</h3>
      <p>E-Mail: {{ t.email }}</p>
      <button class="btn-danger" (click)="confirmDelete(t.id)">Delete Trainer</button>
      <button class="btn-primary" mat-button [routerLink]="['/trainer/edit']">Edit Trainer</button>
    </div>
    <br>
  </div>

