<div class="container">
  <h1>Create Class</h1>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="className">Class Name</label>
      <input type="text" class="form-control" id="className" formControlName="className">
      <div *ngIf="shouldDisplayError('className')" class="error-message">Class Name is required</div>
    </div>

    <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place" formControlName="place">
      <div *ngIf="shouldDisplayError('place')" class="error-message">Place is required</div>
    </div>

    <div class="form-group">
      <label for="durationInMinutes">Duration (in minutes)</label>
      <input type="number" class="form-control" id="durationInMinutes" formControlName="durationInMinutes">
      <div *ngIf="shouldDisplayError('durationInMinutes')" class="error-message">Duration must be greater than or equal to 20 minutes</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
      <div *ngIf="shouldDisplayError('description')" class="error-message">Description is required</div>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" formControlName="category">
        <option value="">Select category</option>
        <option value="FITBOXEN">Fitboxen</option>
        <option value="YOGA">Yoga</option>
        <option value="KICKBOXEN">Kickboxen</option>
      </select>
      <div *ngIf="shouldDisplayError('category')" class="error-message">Category is required</div>
    </div>

    <div class="form-group">
      <label for="trainers">Choose Trainers</label>
      <select class="form-control" id="trainers" formControlName="trainers" multiple>
        <option *ngFor="let trainer of trainers" [value]="trainer.id" [selected]="createForm.value.trainers?.includes(trainer.id)">
          {{ trainer.name }} ({{ trainer.email }})
        </option>
      </select>
      <div *ngIf="shouldDisplayError('trainers')" class="error-message">Please select at least one trainer</div>
      <small class="form-text text-muted">Hold down the Ctrl (windows) or Command (Mac) button to select multiple trainers.</small>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="!createForm.valid">Submit</button>
  </form>
</div>
