/* create-class.component.css */

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 4l5 5 5-5" stroke="#ccc" stroke-width="2"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Add margin for spacing */
}

.trainer-checkbox {
  margin-bottom: 10px;
}

.trainer-info {
  margin-left: 5px;
}

input[type="checkbox"]:checked + .trainer-info {
  color: blue; /* Change to your preferred color */
  font-weight: bold;
}

.snackbar-error {
  background-color: #f44336;
  color: black;
}

.snackbar-success {
  background-color: #4caf50;
  color: black;
}
