

<mat-card class="section-card">
  <mat-card-header class="section-card-header">
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="section-card-content">
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-card-actions class="section-card-actions">
    <button class="btn-primary" mat-button [routerLink]="['/trainer/all']">See all</button>
    <button class="btn-success" mat-button [routerLink]="['/trainer/create']">Add Trainer</button>
  </mat-card-actions>
</mat-card>
