<mat-card class="section-card">
  <mat-card-header class="section-card-header">
  <mat-card-title>{{ title }}</mat-card-title>
</mat-card-header>
  <mat-card-content class="section-card-content">
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-card-actions class="section-card-actions">
    <button class="btn-primary" [routerLink]="['/session/all']">See all</button>
    <button *ngIf="isAdmin" class="btn-success" [routerLink]="['/session/create']">Add Session</button>
  </mat-card-actions>
</mat-card>



