<!-- user-profile.component.html -->
<div class="container">
  <div class="user-info">
    <h2>User Profile</h2>
    <p><strong>Name:</strong> {{ user?.firstName }} {{ user?.lastName }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <p><strong>Address:</strong> {{ user?.address }}</p>
  </div>

  <div class="action-buttons">
    <!-- <button class="btn btn-danger" (click)="confirmDelete()">Delete Profile</button>
    <button class="btn btn-primary" (click)="openEditPopup()">Edit Profile</button> -->
  </div>
</div>
